/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');



/* common style or utilites */
  body{
    background-color: #F3F1FF;
  }

  main{
  
    display: flex;
   flex-direction: column;
   align-items: center;
  }
  .container{
    width: 870px;
    background-color: #FFFFFF; 
    padding: 30px;
  }
  hr{
    border:1px solid #D1D1D1;
    margin-bottom: 25px;
  }


  /* -------------------
           navbar 
     --------------------*/


  .nav-bar{
    
    width: 100%;
    /* width: 1440px; */
    height: 94px;
    background-color: #562EFF;
    margin-bottom: 46px;
  }
  .nav-detail{
    display: flex;
    justify-content: space-around;
    
  }
  .logo-idea{
    display: flex;
    align-items: center;
  }
  .idea{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
  }
  
  .logo img{
    margin-top: 20px;
    margin-bottom: 17px;
    width: 40.42px;
    height: 51px;
  }
  .idea{
    margin-left: 16px;
  }
  .title-png{
    display: flex;
    align-items: center;
  }
  .title ul{
    display: flex;
  }
  .title ul li {
    list-style: none;
  }
  .title ul li a{
    margin-right: 50px;
    padding-left: 10px;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
  }
    .title ul li a:hover{
    text-decoration: 1px underline white;
  }
  .title ul li a:hover {
  border-bottom: 1px underline white;
  }
 
  .profile-png img{
    height: 60px;
    width: 60px;
  }


/*------------------------------
              Top players
              ----------------------------- */


.top-players{
  margin-bottom: 30px;
}

.section-title{
  color: #562EFF;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  margin-top: 3px;
  
}
.players{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-row-gap: 29px;
}
.player{
  display: flex;
  align-items: center;
}
.player img{
  width: 56px;
  height: 56px;
  /* border: 1px solid black; */
  border-radius: 28px;
  box-shadow: 5px 6px 12px #696868,
               inset -8px 8px 12px ghostwhite;
}
.player img:hover{
  transform: scale(1.4);
  transition: transform 0.4s linear;
}
.player-name{
  margin-left: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}


/*---------------------------------
           Top blogs
            --------------------------------*/


.blogs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 26px;
}
.blog{
  display: flex;
}
.blog-info{
  margin-left: 16px;
}
.blog .thumnail img{
  width: 177px;
  height: 117px;
}
.blog-title{
font-size: 20px;
 
}
.blog-author{
  color: #9F9F9F;
  font-size: 16px;
}
.blog-author a{
  color: #562EFF;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  

}
/* -------------------
latest courses
---------------------- */

.latest-course{
  margin-top: 17px;
  width: 870px;
  height: 362px;
 padding: 17px 32px 28px 32px;
  background-color: white;
}
.courses{
display: flex;
border-radius: 5px;
background-color: #ffffff;
}
.banner-head{
  margin-top: 17px;
  margin-bottom: 11px;
  font-size: 24px;
  color: #562EFF;
  font-family:  'Poppins', sans-serif;
}
.banner-detail{
  width: 252.42px;
  height: 269.79px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 28px;
  padding-top: 13px;
  border-radius: 14px;
  box-shadow: 4px 5px 6px rgb(245, 244, 244),
              -4px -5px 6px #f0f0f0;
  overflow: hidden;            
 
}
.banner-img{
  overflow: hidden;  
}
.banner-img img{
  margin: auto;
  padding-left: auto;
  position: relative;
  /* position: absolute; */
  width: 224px;
  height: 104px;
  justify-self: center;

}
.banner-img img:hover{
  transform: scale(1.2);
  border-radius: 15px;
  transition: all .3s linear;
}
.title-banner{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding:0 11px;
}
.course-author{
  font-family: 'Roboto', sans-serif;
  color: #ED6B4F;
  font-weight: 400;
  font-size: 14.69px;
  padding:0 11px;
}
.icon{
  padding:0 11px;
  font-size: 12px;
}
.icon .fill-up{
  color: #FFC014;
}
.unfill{
  color: #c9c9c9;
}
#rating{
  margin-left: 10.71px;
  font-size: 14.65px;
  color: #A2A2A2;
  font-family:  'Poppins', sans-serif;
  font-weight: 400;

}
#time{
  width: 94px;
  height: 30px;
  margin-left: 20px;
  /* border: 1px solid black; */
 border-radius: 15px;
 padding: 10px 7px 7px 20px;
 background-color: #FFE4E8;
 color: #FF4A60;
 font-size: 15px;
}
 span #time:hover i{
  transform: scale(1.5);
  transition: all .3s ease-in-out;
}

/*---------------------
             footer 
             -------------------*/
 .footer{
  width: 100%;
  height: 94px;
  background-color: #562EFF;
  margin-top: 46px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: inset 6px 6px 12px rgb(155, 153, 153);
}
 .logo-2{
   text-align: center;
   line-height: 50px;
   font-weight: 900;
   font-size: 35px;
   color: white;
   font-family: 'Tourney', cursive;
 }
 #black{
   color: black;
 }
 .copyright{
   text-align: center;
   color: white;
   font-size: 16px;
 }

/* responsivness */
/* Mobile device */
@media screen and (max-width:688px) {
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-bar{
    width: 100%;
    height: 100%;
    /* width: 1440px; */
    /* height: 94px; */
    background-color: #562EFF;
    margin-bottom: 46px;

  }
  .nav-detail{
    display: flex;
    flex-direction: column;
  }
  .logo-idea{
    display: flex;
    justify-content: center;
  }
  .title-png{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container{
    width: 100%;
  }
  .players{
   grid-template-columns: repeat(1,1fr);
  }
  .player{
    display: flex;
    flex-direction: column;
  }
  .blogs{
   grid-template-columns: repeat(1,1fr);
   width: 100%;
   
  }
  .blogs{
    grid-template-columns: repeat(1,1fr);
  }
  .blog{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .courses{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer{
    position: relative;
    top: 500px;
  }
  
}
/* Tablet device */
@media screen and (min-width:790px ) 
             and (max-width:1024px)
              {
  .container{
    width: 100%;
  }
  .players{
   grid-template-columns: repeat(2,1fr);
  }
  .player{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .blogs{
    grid-template-columns: repeat(1,1fr);
  }
  .blog{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .courses{
    display: flex;
    border-radius: 5px;
    background-color: #ffffff;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .footer{
    position: relative;
    top: 500px;
  }
  
}
